* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  gap: 50px;
}

.footer-title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.media img {
  width: 20px;
}

.common-links {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.common-links a {
  color: white;
  text-decoration: none;
}
.common-links a:hover {
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.legal {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.legal a {
  color: white;
  text-decoration: none;
}

.legal a:hover {
  text-decoration: underline;
}

.footer-title {
  color: rgb(163, 163, 163);
}

@media (max-width: 768px) {
  .footer-title-container,
  .common-links,
  .contact-info,
  .legal {
    align-items: center;
  }
}
