.carousel {
  margin: 100px auto;
  width: 90%;
  border: 5px solid red;
  display: flex;
  overflow-x: auto; /* to add horizontal scroll */
}

.carousel::-webkit-scrollbar {
  display: none; /* to hide the horizontal scroll */
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 5s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em; /* shrink, grow, width */
  height: 5em;
  padding: 1em;
  background-color: aqua;
  font-size: 3em;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
